.login-container {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  
 
}

.welcome-text {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000;
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; 
  
}

.input-group {
  margin-bottom: 35px;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: 0 auto;
}



.input-group input {
  width: 100%;
  max-width: 450px;
  padding: 12px 45px 12px 16px;
  font-size: 1em;
  border: 1px solid #D9D9D9 ;
  background-color: transparent; 
  border-radius: 999px; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  outline: none;
  
}



.eye-icon {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #777;
  user-select: none;
  transition: color 0.3s ease, transform 0.2s ease;
}


.eye-icon:hover {
  color: #000;
}

.forgot-password-link {
  display: block;
  text-align: right;
  margin-left: 80px; 
  width: 320px;
  color: #c30417;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.forgot-password-link:hover {
  text-decoration: underline;
}


.login-btn {
 width: 100%;
  max-width: 350px;
  padding: 12px;
  background-color: #FE4747;
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255,75,92,0.4);
  transition: all 0.3s ease;
}

.login-btn:hover {
  box-shadow: 0 8px 16px rgba(255,75,92,0.5);
}


.divider {
  width: 80%;
  max-width: 500px;
  border-bottom: 1px solid #000000;
  margin: 25px 0;
  margin-left: 15px;
  opacity: 0.6;
}

.social-login-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.google-btn,
.facebook-btn {
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 999px;
  font-size: 1em;
  cursor: pointer;
  
}

.google-btn {
  background-color: #ffe0d6;
  color: #000;
}

.facebook-btn {
  background-color: #ffb6b9;
  color: #fff;
}



.signup-prompt {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.9em;
  color: #000000;
}

.signup-link {
  color: #c30417;
  text-decoration: none;
}



@media (max-width: 768px) {
  .welcome-text {
    font-size: 2em;
  }

  .input-group input {
    font-size: 0.95em;
    padding: 10px 40px 10px 14px;
  }

  .login-btn {
    width: 70%;
  }

  .social-login-section {
    gap: 20px;
  }

  .google-btn,
  .facebook-btn {
    width: 120px;
    font-size: 0.9em;
  }
}

