
.register-container {
  text-align: center;
  padding: 20px;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.register-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;

}
.welcome-text {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
  align-self: center;
  
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px; 
  
}

.register-input-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  max-width: 600px;
  color: #000000;
  font-size: 1em;
  
}

.register-input-group input {
  width: 100%;
  font-size: 1em;
  color: #000000;
  border: 1px solid #D9D9D9;
  border-radius: 999px;
  max-width: 450px;
  padding: 12px 45px 12px 16px;
  background-color: transparent; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  outline: none;
  
}

.gender-group {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: 15px;
  font-size: 1em;
}

.gender-group label {
  margin: 0 10px;
  color: #000000;
}

.register-eye-icon {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
  color: #777;
  user-select: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.register-eye-icon:hover {
  color: #000;
}

.signup-btn {
  width: 300px;
  padding: 10px;
  background-color: #FF9C9C;
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px; 
  align-self: center;
}

.login-prompt {
  margin-top: 20px;
  font-size: 0.9em;
  gap: 10px;
  color: #000000;
  text-align: center;
}

.login-link {
  color: #c30417;
  text-decoration: none;
  margin-left: 4px;
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 2em;
  }

  .register-form {
    width: 90%;
    max-width: 400px;
  }

  .signup-btn {
    width: 70%;
  }

  .gender-group {
    font-size: 0.9em;
  }
}
@media (max-width: 480px) {
  .register-container {
    padding: 10px;
  }

  .welcome-text {
    font-size: 1.8em;
  }

  .register-input-group input {
    font-size: 0.9em;
    padding: 10px 40px 10px 14px;
  }

  .signup-btn {
    width: 100%;
    max-width: 280px;
  }

  .gender-group {
    flex-direction: column;
    align-items: center;
  }

  .login-prompt {
    font-size: 0.8em;
  }
}

